/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #24292e; /* GitHub dark gray */
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #f1502f; /* Git orange */
}

p {
  font-size: 1.2rem;
  color: #d1d5da;
  margin-top: 10px;
}